/* Импорт стилей, шрифтов и иконок */
/* СБрос CSS */
@import url("https://marksheet.io/css/reset.css");


/* Базовые стили */
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Verdana, sans-serif;
    font-size: 12px;
}
.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
}


/* Предустановки */
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
strong {
    font-weight: bold;
}
.block {
    display: flex;
    width: 100%;
    margin: 0 auto;
}


/* Гипкая верстка */
.col-1 {
    flex: 1;
}
.col-2 {
    flex: 2;
}
.col-3 {
    flex: 3;
}
.col-4 {
    flex: 4;
}
.col-5 {
    flex: 5;
}
.col-6 {
    flex: 6;
}
@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
}


/* Шапка сайта */
header {
    flex: 0 0 auto;
    height: 800px;
    background-color: dimgray;
    font-size: 0.9em;
}
header > div.container {
    height: 100%;
    align-items: flex-end;
}
header ul {
    display: flex;
    padding-bottom: 20px;
}
header li {
    color: #fff;
}
header li a {
    padding:  50px 10px 10px 10px ;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
}
.header-icon {
    display: flex;
    padding-bottom: 20px;
    align-items: center;
}

/* Основное содержимое */
.moon-tour {
    flex: 1 0 auto;
}
.advantages {
    flex: 1 0 auto;
}
.content {
    flex: 1 0 auto;
}


/* Подвал сайта */
footer {
    flex: 0 0 auto;
}
